*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

body{
    width: 100%;
    height: 100vh;
}

.outer{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header{
    height: 15%;
    width: 100%;
    background-color: transparent;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn{
    outline: none;
    font-size: 0.7rem;
    padding: 2%;
    border-radius: 0.6rem;
}

#img{
    width: 60%;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.start{
    border: none;
    color:#407BFF;
    position: relative;
    top: 15%;
}

.right{
    width: 100%;
    padding: 3%;
    color: white;
}

#first{
    font-size: 2.5rem;
}

#name{
    font-size: 4rem;
    font-weight: bolder;
}

.left{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

#arrow{
    width: 5%;
}

.login {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.register{
    background-color: white;
    color: #9E00FF;
    border: none;
}

.page{
    height: 100%;
}

.first{
    background-image: linear-gradient(to left, #9E00FF 0%, #0078E7 100%);
}

#head{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to left, #9E00FF 0%, #0078E7 100%);
}

.content h1{
    text-align: center;
    color: #568AFF;
}

.second{
    background-color: white;
}

.content{
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.points{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.point{
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.point p{
    color:#0078E7;
    font-size: 0.7rem;
    text-align: center;
}

#head h1{
    color: white;
}

#head p{
    color: white;
    font-weight: lighter;
    font-size: 0.6rem;
}

.content3{
    display: flex;
    width: 100%;
    height: 85%;
    padding: 3%;
}

.content3 section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.list{
    padding: 5%;
    width: 70%;
}

.list ul{
    color:#0078E7;
}

.content3 section h1{
    color: #0078E7;
    font-size: 1.5rem;
}

.links {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer{
    width: 100%;
    height: 35%;
    background-image: linear-gradient(to left, #9E00FF 0%, #0078E7 100%);
}